<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">
        <img alt="Golf Pool" src="/assets/logo.png">
    </a>

    <div class="navbar-collapse" [ngbCollapse]="!isOpen">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'pool'}">
                <a class="nav-link" routerLink="">Pool</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'golfers'}">
                <a class="nav-link" routerLink="/golfers">Golfers</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'settings'}">
                <a class="nav-link" routerLink="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>

<div *ngIf="showAlert" class="alert alert-warning alert-dismissible text-center" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Update Available!</strong> Please update the app by refreshing or clicking: <a href="/" target="_self">Update <i class="fa fa-refresh" aria-hidden="true"></i></a>.
</div>