<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="">
        <img alt="Golf Pool" src="/assets/logo.png">
    </a>

    <div class="navbar-collapse" [ngbCollapse]="!isOpen">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'pool'}">
                <a class="nav-link" routerLink="">Pool</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'golfers'}">
                <a class="nav-link" routerLink="/golfers">Golfers</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentRoute() === 'settings'}">
                <a class="nav-link" routerLink="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>