@import '~bootstrap/scss/_variables';

.player-img-container {
	img.headshot {
		position: relative;
	    width: 100%;
	    height: auto;

	    &.placeholder{
	    	left: -15px;
	    }
	}
	.addt-details {
		background-color: rgba(0, 0, 0, 0.5);
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    color: white;
	    font-weight: bold;
	    padding: .75rem 0;
	    .college,
	    .hometown {
	    	padding-right: 1rem;
	    }
	}
}

table {
	tbody tr:nth-of-type(odd) {
	    background-color: transparent;
	}

	td, th {
		width: 4%;
		text-align: center;

		&.yellow {
	    	background: $yellow;
	    }
	    &.green {
	    	background: $green;
	    }
	    &.red {
	    	background: $red;
	    }
	    &.blue {
	    	background: $blue;
	    }
	}
}

.table-key {
	text-align: right;
	
	ul {
		list-style: none;
		margin-bottom: 5px;

		li {
		    color: #6c6d6f;
		    display: inline-block;
		    font-size: 10px;

		    &:before {
			    content: " ";
			    display: inline-block;
			    height: 10px;
			    margin: 0 3px 0 5px;
			    position: relative;
			    top: 1px;
			    width: 10px;
			}

			&.yellow:before {
		    	background: $yellow;
		    }
		    &.green:before {
		    	background: $green;
		    }
		    &.red:before {
		    	background: $red;
		    }
		    &.blue:before {
		    	background: $blue;
		    }
		}
	}
}

@media only screen and (max-width: 575px) {
	img.headshot {
		 width: 50%;
		 margin-bottom: 10px;
	}
	.table-key ul li {
		font-size: 8px;
	}

	table {
		td, th {
			font-size: 9px;
			padding: 0;
		}
	}
}