node_modules
public
.tmp
.sass-cache
.idea
client/
dist
/server/config/local.env.js
npm-debug.log
coverage


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json