@import '../../../node_modules/bootstrap/scss/_functions';
@import '../../../node_modules/bootstrap/scss/_variables';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints';


$red: #f17681;
$yellow: #fecd31;
$green: #87c7a1;
$blue: #7ca9cf;

img.headshot {
	max-width: 200px;
    width: 100%;
    height: auto;
    border: 1px solid #EAE9E9;
    border-radius: 5px;

    &.placeholder{
    	width: 80%;
    }
}

.logo-image {
	max-height: 50px;
}


table {
	tbody tr:nth-of-type(odd) {
	    background-color: transparent;
	}

	td, th {
		width: 4%;
		text-align: center;

		&.yellow {
	    	background: $yellow;
	    }
	    &.green {
	    	background: $green;
	    }
	    &.red {
	    	background: $red;
	    }
	    &.blue {
	    	background: $blue;
	    }
	}
}

.table-key {
	width: 100%;
	text-align: right;
	
	ul {
		list-style: none;
		margin-bottom: 5px;

		li {
		    color: #6c6d6f;
		    display: inline-block;
		    font-size: 10px;

		    &:before {
			    content: " ";
			    display: inline-block;
			    height: 10px;
			    margin: 0 3px 0 5px;
			    position: relative;
			    top: 1px;
			    width: 10px;
			}

			&.yellow:before {
		    	background: $yellow;
		    }
		    &.green:before {
		    	background: $green;
		    }
		    &.red:before {
		    	background: $red;
		    }
		    &.blue:before {
		    	background: $blue;
		    }
		}
	}
}

@include media-breakpoint-down(md) {
	table {
		td, th {
			font-size: 11px;
			padding: 3.5px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.table-key ul li {
		font-size: 6px;
		padding: 0;
	}

	table {
		td, th {
			font-size: 9px;
			padding: 0;
		}
	}
}