body {
    font-size: 12px;
}

.logo {
    display: inline;
    margin-right: 5px;
}

.logo img {
    bottom: 8px;
    position: relative;
    width: 20px;
    margin-bottom: -14px;
}

table th.movement:before {
    content: "↑";/*"\2B06";*/
}
table th.movement:after {
    content: "↓";
}
table td.negative {
    color: #d00;
}
table td.negative:before {
    content: "↓";
    position: relative;
    top: -1px;
    margin-right: 2px;
}
table td.positive {
    color: #094;
}
table td.positive:before {
    content: "↑";
    position: relative;
    top: -1px;
    margin-right: 2px;
}
table tr.selected {
    border: 2px solid black;
}
table tr.selected:first-child {
    border-top-width: 3px;
}

@media only screen and (max-width: 375px) {
    .pool-leaderboard table td, .pool-leaderboard table th {
        max-width: 50px;
        word-wrap: break-word;
        font-size: 10px;
    }

    .golfer-leaderboard table td, .golfer-leaderboard table th {
        max-width: 40px;
        word-wrap: break-word;
        font-size: 8px;
    }
}


.golfer-score {
    cursor: pointer;;
}
.settings {
    margin: 20px 0;
}
.settings .form-control {
    font-size: 16px;
}
.navbar .navbar-brand img {
    height: 25px;
}