/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

body {
    font-size: 12px;
}

table tr.selected {
    border: 2px solid black;
}
table tr.selected:first-child {
    border-top-width: 3px;
}
