<table class="table table-sm">
    <thead>
    <tr>
        <th>Pos</th><th>Name</th><th>Golfer A</th><th>Golfer B</th><th>Golfer C</th><th>Golfer D</th><th>To Par</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries | async" [ngClass]="{'table-danger': entry.isDQ, 'selected': entry.isSelected}">
            <td>{{ entry.position }}</td>
            <td>{{ entry.name }}</td>

            <ng-container *ngTemplateOutlet="cellTemplate; context: {golfer: entry.golferScores[0], danger: entry.danger[0], isDQ: entry.isDQ }"></ng-container>
            <ng-container *ngTemplateOutlet="cellTemplate; context: {golfer: entry.golferScores[1], danger: entry.danger[1], isDQ: entry.isDQ }"></ng-container>
            <ng-container *ngTemplateOutlet="cellTemplate; context: {golfer: entry.golferScores[2], danger: entry.danger[2], isDQ: entry.isDQ }"></ng-container>
            <ng-container *ngTemplateOutlet="cellTemplate; context: {golfer: entry.golferScores[3], danger: entry.danger[3], isDQ: entry.isDQ }"></ng-container>

            <th>{{ entry.overallToPar }}</th>
        </tr>
    </tbody>
</table>

<ng-template #cellTemplate let-golfer="golfer" let-danger="danger" let-isDQ="isDQ">
    <td class="golfer-score" (click)="gotoGolfer(golfer)" [ngClass]="{'table-warning': !isDQ && golfer.throwaway, 'table-success': !isDQ && !golfer.throwaway}">
         <ng-container *ngTemplateOutlet="golferTemplate; context: {golfer: golfer, danger: danger}"></ng-container>
    </td>
</ng-template>

<ng-template #golferTemplate let-golfer="golfer" let-danger="danger">
    {{ golfer.score.shortName }}:
    <span [ngClass]="{'text-danger': danger}">{{ golfer.score.toPar }}</span>
    <ng-container *ngIf="!golfer.score.isDNF"> ({{ golfer.score.thru }})</ng-container>
</ng-template>
