<form class="settings">
    <div class="form-group">
        <label for="contestantDropdown">Selected Contestant: </label>
        <select id="contestantDropdown" class="form-control" [(ngModel)]="selectedContestantId" (ngModelChange)="contestantSelected()" name="selectedContestantId">
            <option *ngFor="let contestant of contestants | async" [value]="contestant.id">{{contestant.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="configDropdown">View old results: </label>
        <select id="configDropdown" class="form-control" [(ngModel)]="selectedConfigIndex" (ngModelChange)="configSelected()" name="selectedConfigIndex">
            <option *ngFor="let config of configs; let i = index" [value]="i">{{config.TOURNEY_TITLE}}{{ i===0 ? ' (Current)' : '' }}</option>
        </select>
    </div>
</form>